//.bm-item {
//  display: inline-block;
//  text-decoration: none;
//  margin-bottom: 10px;
//  color: #d1d1d1;
//  transition: color 0.2s;
//}
//
//.header-logo {
//  display: inline-flex;
//  flex-direction: row;
//  justify-content: space-around;
//  text-align: center;
//}
//
//.header-sidenav {
//  display: inline-flex;
//}
//
//.header-container {
//  display: flex;
//  flex-direction: row;
//  flex: 1;
//  justify-content: space-between;
//}
//
//.menu-item {
//  display: inline-block;
//  text-decoration: none;
//  margin-bottom: 10px;
//  color: #d1d1d1;
//  transition: color 0.2s;
//}
//
//NavLink:hover {
//  text-decoration: none;
//}
//
//.active {
//  color: green !important;
//  text-decoration: none !important;
//}
//
//.menu-item:hover {
//  color: white;
//}
//
//.bm-item:hover {
//  color: white;
//}
//
//.bm-burger-button {
//  position: fixed;
//  width: 36px;
//  height: 30px;
//  right: 36px;
//  top: 36px;
//}
//
//button:focus {outline:0;}
//
//.bm-burger-bars {
//  background: #373a47;
//  height: 7% !important;
//}
//
//.bm-cross-button {
//  height: 24px;
//  width: 24px;
//}
//
//.bm-cross {
//  background: #bdc3c7;
//}
//
//.bm-menu {
//  background: #373a47;
//  padding: 2.5em 1.5em 0;
//  font-size: 1.15em;
//}
//
//.bm-morph-shape {
//  fill: #373a47;
//}
//
//.bm-item-list {
//  color: #b8b7ad;
//}
//
//.bm-overlay {
//  background: rgba(0, 0, 0, 0.3);
//}

ul {
  list-style: none;
}

.header-list a {
  position: relative;
  display: inline-block;
  color: #040504;
  text-decoration: none;
  font-size: 3em;
  line-height: 1.5em;
  margin-left: -5%;
}
.header-list a:after {
  position: absolute;
  top: 76%;
  left: -5%;
  right: -5%;
  margin: auto;
  height: 2px;
  content: '';
  opacity: 0;
  transition: all 700ms ease-in;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.header-list a:hover:after, ul a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
:root {
  --mainColor: #00b894;
}
.slide-fade a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: background-size 0.3s;
  background: linear-gradient(to bottom, var(--mainColor) 0%,
          var(--mainColor) 100%
  ) repeat-x 0 100%;
  background-size: 4px 0px;
}

.slide-fade a:hover, .overlay a:focus {
  color: #f1f1f1;
  outline: none;
  background-size: 4px 60px;
}

.overlay button {
  position: absolute;
  top: -37px;
  right: 0px;
  font-size: 60px;
}

.bLyUej {
  padding: 30px 30px 5px;
}

.open-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

overlay-content ul {
  list-style: none;
}
.open-wrapper div {
  z-index: 100;
}

button:focus {
  outline: none;
}

@media all and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}