
  .container {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
  }
    .headline-section {
      line-height: 1.25;
      letter-spacing: 0.8px;
      margin-bottom: 10px;
      font-family: "Montserrat", sans-serif;
    }
    .events {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 80px;
    }
    .subline-section {
      font-size: 2.2rem;
      letter-spacing: 0.3px;
      color: #777;
    }
    .event {
      height: 14vw;
      width: 32%;
      margin: 10px auto;
      // z-index: 75;
      /* background-color: blueviolet; */
    }
    .card1 {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      transition: all 0.8s ease;
      border-radius: 2px;
      z-index: 5;
      perspective: 1500px;
      -webkit-perspective: 1500px;
      -moz-perspective: 1500px;
      border: none;
      background: #313438;
    }
    .card1 .card1-item {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.361);
      pointer-events: none;
      /* Firefox issue - TOOK MY 2hrs >:( */
    }
    
    .card1 .card1-front {
      z-index: 5;
      backface-visibility: hidden;
      transition: all 0.8s ease-in-out;
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
    }
    
    .card1:hover .card1-front {
      background-color: #eee;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
    }
    .card1 .card1-front img {
      display: block;
      height: 80%;
      width: 100%;
    }
    
    .card1 .card1-front .headText {
      display: block;
      height: 20%;
      position: relative;
      background-color: #2980b9;
    }
    
    .card1 .card1-front .headText p {
      font-size: 20px;
      letter-spacing: 0.5px;
      word-spacing: 1.5px;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      color: #ffffff;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
    }
    
    .card1 .card1-front .headText {
      display: block;
      height: 20%;
      position: relative;
    }
    
    .card1 .card1-back {
      backface-visibility: hidden;
      transform: rotateY(-180deg);
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      transition: all 0.8s ease-in-out;
    }
    
    .card1:hover .card1-back {
      background-color: #eee;
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
    }
    
    .card1 .card1-back img {
      display: block;
      height: 80%;
      width: 100%;
      z-index: 0;
    }
    
    .card1 .card1-back::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
    }
    
    .card1 .card1-back .headText {
      display: block;
      height: 20%;
      position: relative;
      z-index: 25;
      background-color: #F20056;
    }
    
    .card1 .card1-back .eventName {
      position: absolute;
      display: block;
      height: 20%;
      width: 100%;
      top: 50%;
      transform: translate(0%, -50%);
      z-index: 33;
    }
    
    .card1 .card1-back .headText p,
    .card1 .card1-back .eventName p {
      font-size: 20px;
      letter-spacing: 0.5px;
      word-spacing: 1.5px;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      color: #ffffff;
      transform: translate(-50%, -50%);
      text-transform: capitalize;
    }
    
    .card1 .card1-back .eventName p {
      font-size: 25px;
      letter-spacing: 0.5px;
      word-spacing: 1.5px;
      text-transform: uppercase;
    }
    
